<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="config/config-context.xml"/>

    <bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"/>
    </bean>

    <bean class="com.loopme.app.source.PropertyFileConfigSource" init-method="init" destroy-method="destroy">
        <constructor-arg value="#{systemProperties['FILE_PATH']}"/>
        <constructor-arg ref="executor"/>
    </bean>

    <bean id="foo" class="com.loopme.app.Service" scope="prototype">
        <constructor-arg value="foo"/>
    </bean>

    <bean id="bar" class="com.loopme.app.Service" scope="prototype">
        <constructor-arg value="bar"/>
    </bean>

    <bean class="com.loopme.app.Client" init-method="init" destroy-method="destroy" lazy-init="false">
        <constructor-arg>
            <list>
                <ref bean="foo"/>
                <ref bean="bar"/>
            </list>
        </constructor-arg>
        <constructor-arg ref="executor"/>
    </bean>

</beans>